body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.header h2 {
    color: #999999;
    text-align: center;
}

strong.jadu {
    color: #000000;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: -0.1em;
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

@media screen and (min-width: 768px) {
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    .header {
        margin-bottom: 30px;
    }

    .jumbotron {
        border-bottom: 0;
    }
}